<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="blog-text">
    <p><strong>Title</strong>：<%= @blog.title %></p>
    <p><strong>Content</strong>：<%= @blog.content %></p>
  </div>
  <p>List of comments (the contents below from here are important)</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>
  <!-- Render to display the comment input field on the detail page of the blog -->
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>
</div>
